// variables

$body-bg: #fff;
$main-font: 'Arial';
$primary-color: #008080;
$secondary-color: #009a9a;
$light-color:rgb(243, 231, 231);
$dark-color:rgb(65, 35, 35);
$container : 960px;
$section-padding :20px;
$extradark-color:#000;